[data-theme="1"] {
  --color: #000000;
  --background: #ffffff;
}

[data-theme="2"] {
  --color: #000000;
  --background: #ddeeff;
}

[data-theme="3"] {
  --color: #ffffff;
  --background: #212a34;
}

html {
  background-color: var(--background);
  color: var(--color);
}

.select {
  text-transform: capitalize;
  font-size: 0.875rem;
  padding: 0.5rem 0rem 0.6875rem 0.625rem;
  border-color: #323232;
}
