.buttonsContainer {
  display: flex;
  gap: 1.5rem;
}

.responseContainer {
  max-width: 65.5rem;
  margin: 5.5rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.imageContainer {
}

.image {
}

.textContainer {
}

.code {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.22;
  margin-bottom: 0.75rem;
}

.text {
}
.info {
}
