.sendForm {
  display: flex;
  align-items: center;
  gap: 2.75rem;
}

.textarea {
  flex-grow: 1;
  padding: 0.75rem 1.5rem;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.06rem 0.13rem 0rem rgba(29, 33, 38, 0.1),
    0rem 0.31rem 1.25rem 0rem rgba(29, 33, 38, 0.03);
  background: rgb(245, 247, 251);
  resize: none;
}

.textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.88rem;
  color: rgba(0, 0, 0, 0.6);
}

.button {
  border: none;
  padding: 0.625rem 2.375rem;
  border-radius: 1.25rem;
  background: rgb(0, 102, 204);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.35s;
}

.button:hover {
  background: rgb(1, 84, 166);
}
.button:active {
  translate: 0 2px;
}
